<f:layout name="Default" />

<f:section name="Col1">
    <div class="col-md-8">

        <f:cObject typoscriptObjectPath="lib.menuBreadcrumbs" />
        
        <f:comment>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <span>Sie sind hier: </span>

                <f:for each="{menuBreadcrumb}" as="breadcrumbItem" iteration="breadcrumbiterator">
                        <f:if condition="{breadcrumbiterator.isFirst}">
                            <f:then>
                                <li class="breadcrumb-item {f:if(condition:breadcrumbItem.current,then:'active')}"
                                    {f:if(condition:breadcrumbItem.current,then: 'aria-current="page"')}>
                                <f:link.typolink parameter="{rootPageUid}" title="Startseite">
                                </f:link.typolink>
                                </li>
                            </f:then>
                            <f:else>
                                <li class="breadcrumb-item {f:if(condition:breadcrumbItem.current,then:'active')}"
                                    {f:if(condition:breadcrumbItem.current,then:  'aria-current="page"')}>
                                <a href="{breadcrumbItem.link}">
                                    {breadcrumbItem.title}
                                </a>
                                </li>
                            </f:else>
                        </f:if>
                </f:for>

                </ol>
            </nav>
        </f:comment>
        
        <!--TYPO3SEARCH_begin-->
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
        <!--TYPO3SEARCH_end-->
    </div>
</f:section>

<f:section name="Col2">
    <div class="col-md-4">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '1'}" />
    </div>
</f:section>
