<footer id="footer">
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-unstyled">
        <li class="float-end"><a href="#top">to top / XLIFF: {f:translate(key: 'scrolltop', extensionName: 'jbspb_bootswatch')}</a></li>
        <li><a href="https://blog.bootswatch.com/">Bootswatch Blog</a></li>
        <li><a href="https://github.com/thomaspark/bootswatch">Bootswatch GitHub</a></li>
      </ul>
      <p>Created by<a href="https://thomaspark.co/">Thomas Park</a>.</p>
      <p>Code published under <a href="https://github.com/thomaspark/bootswatch/blob/master/LICENSE">MIT License</a>.</p>
      <p>Based on <a href="https://getbootstrap.com/" rel="nofollow">Bootstrap v5</a> and  <a href="https://icons.getbootstrap.com/" rel="nofollow">Bootstrap Icons</a>. 
          Web fonts from <a href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>
    </div>
  </div>
</footer>